{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <header>
        <div class="jumbotron mt-2 mx-3">
            <h1 class="display-3 text-danger">Digit Library</h1>
            <p class="lead">Vous allez pouvoir créer votre biblothèque virtuelle, y ajouter les livre que vous avez déja lu et ce que vous souhaitez lire</p>
            <hr class="my-4">
            <p>Commencez dès à present à ranger vos livres</p>
            <p class="lead">
                <a class="btn btn-info btn-lg" href="#" role="button">Créer mon Etagère</a>
            </p>
        </div>
    </header>

    <div class="container my-5">
        <div class="d-flex justify-content-around align-items-center">
           {% for book in books %}
               <div class="card" style="width: 18rem;">
                   <img src="..." class="card-img-top" alt="...">
                   <div class="card-body">
                       <h5 class="card-title">{{ book.title }}</h5>
                       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                       <a href="#" class="btn btn-primary">Go somewhere</a>
                   </div>

               </div>

            {% endfor %}

        </div>
        <div class="pagination d-flex justify-content-center align-items-center my-4">
            {{ knp_pagination_render(books) }}
        </div>
    </div>

{% endblock %}
